:root {
	font-family: Alegreya;
	box-sizing: border-box;
}

a {
	color: #000000;
	text-decoration: none;
}

body {
	background-color: #CCFFFF; /* Additional Options: #FFCCCC, #FFFFCC, #CCCCFF */
	background-repeat: no-repeat;
}

figcaption {
	text-align: center;
	text-decoration: underline;
}

footer {
	position: absolute;
}

h1 {
	text-align: center;
}

html {
	position: relative;
	min-height: 100%;
}

.heading {
	font-family: Laila;
	text-decoration: underline;
}

.image-ana {
	display: block;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}

.image-comp {
	display: block;
	width: 200px;
	height: 300px;
	transform: rotate(90deg);
	margin: -30px auto;
}

.image-example {
	display: block;
	width: 300px;
	height: 200px;
	margin: 0 auto;
	border-radius: 40px;
}

.image-landscape {
	display: block;
	width: 300px;
	height: 50px;
	margin: 0 auto;
}

.image-mono {
	display: block;
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.image-portrait {
	display: block;
	width: 200px;
	height: 300px;
	margin: 0 auto;
}

.image-star {
	display: block;
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.image-tri {
	display: block;
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.image-wheel {
	display: block;
	width: 300px;
	height: 200px;
	margin: 0 auto;
}

.nav-item {
	display: block;
	width: 104%;
	height: 25px;
	text-align: center;
	margin-left: -8px;
	margin-bottom: 0px;
	background-color: #CCCCFF;
	border: 0.5px #FFFFCC outset;
	border-radius: 4px;
	font-size: 18px;
	font-family: "PT Sans Narrow", sans-serif;
	transition: color 0.2s linear;
}

.nav-item:hover, .nav-item:focus {
	text-decoration: underline;
	color: #008000;
}

#did-you-know {
	color: #FFFFFF;
	background-color: #4682B4;
	border-radius: 50%; 
	text-align: center;
}

#footer {
	text-align: center;
	color: #FFA500;
	background-color: black;
	margin-bottom: -8px;
	margin-left: -9px;
	width: 100%;
}

#github-link {
	color: #FFA500;
}

#nav-bar {
	width: 100%;
}

#nav-home {
	margin-top: -9px;
}